<h1>Property Binding</h1>
<button class="btn btn-success"
 [disabled] = "!allowNewServer">
    Add Server
</button>
<p [innerText]="allowNewServer"></p>
<h1>String Interpolation</h1>
<p>{{allowNewServer}}</p>
<h1>Event Binding</h1>
<button class="btn btn-primary"
(click)="activateServer()">
    Create Server
</button>
<p>{{serverStatus}}</p>
<h1>Two Way Binding and Directives(ngIf, ngStyle, ngClass, ngFor)</h1>
<input type="text" class="form-control"
    [(ngModel)] = 'serverName'/>
<input type="text" class="form-control"
    (input) = "updateServerName($event)"/>
<p *ngIf="serverCreated; else noServer">Server was created, server name is: {{serverName}}</p>
<ng-template #noServer>
    <p>No server was created!</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>
