<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>App components</h3>
            <hr>
            <app-servers></app-servers>
        </div>
    </div>
</div>